.right-section {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.right-section img {
  max-width: 568.5px;
  width: 100%;
  height: auto;
}

@media (max-width: 770px) {
  .right-section {
    display: none;
  }
}
