.right-section {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section img {
  width: 568.5px;
  height: 589px;
}
