* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #2bafc7;
  --secondary-color: #ffffff;
  --gray-100: #e4dfdf;
  --gray-200: #747688;
  --gray-300: #807a7a;
  --yellow: #fbbe47;
  --red: #e53535;
  --black-text: #120d26;
  --green: green;
}

.auth-screen,
.location-screen {
  display: flex;
  width: 100%;
  height: 100vh;
}
.auth-screen > * {
  flex: 1;
}

.auth-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: var(--black-text-color);

  text-align: left !important;
  display: block;
  width: 100%;
}
.auth-text2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: var(--black-text-color);

  text-align: left;
}

.para {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: var(--gray-200);
}
.para1 {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: var(--gray-200);
  cursor: pointer;
}
.para2 {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: var(--gray-200);
}
.span1 {
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
}
.span2 {
  color: var(--primary-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
